/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  .container {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  section {
    padding: 40px 0;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project h3 {
    margin-bottom: 10px;
  }
  
  .project a {
    display: inline-block;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .project ul {
    margin-bottom: 20px; /* Add margin at the bottom of the list */
    line-height: 2; /* Set line height to 1.5 times the font size */
  }
  
  .project p {
    margin-bottom: 10px; /* Add margin at the bottom of paragraphs */
  }

  .image{
    display: block;
    max-width: 100%;
    height: auto;
    }
  